#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {

  margin: 0;
  display: flex;
  padding-top: 100px;
  width: 90vw
  min-width: 320px;
  min-height: 100vh;
}

.gameSchedPage {
  border: solid red 2px;
  text-align: left;
}

.teamRosterPage {
  border:solid violet 2px;
}

.addSubPage {
  border: solid blue 2px;
}

.addSubForm {
  border: dotted green 5px;
}

.teamPlayersList {
  background-color: lightgrey;
}

.gamesList {
  border: dotted green 5px;
}

.addNewPlayer {
  border: dotted hotpink 10px
}

.gameRosterPage {
  border: solid black 2px;
}

.getAllPlayers {
  border: dotted yellowgreen 10px;
}